.header {
  position: relative;
  height: 95vh;
  background-image: -webkit-gradient(linear,
      left top, right bottom,
      from(rgba($color-primary-light, 0.801)),
      to(rgba($color-primary-dark, 0.808))),
    url(../img/hero-small.jpg);
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.801),
      rgba($color-primary-dark, 0.808)),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @media only screen and(-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
         (min-resolution: 192dpi) and (min-width: 37.5em), 
         (min-width: 125em) {
  background-image: -webkit-gradient(linear,
    left top, right bottom,
    from(rgba($color-primary-light, 0.801)), 
    to(rgba($color-primary-dark, 0.808))),
  url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.801), 
    rgba($color-primary-dark, 0.808)),
  url(../img/hero.jpg);
  }


  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  }

  @include respond(ipad) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  &__logo {
    height: 2.1875rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
